<meta charset="UTF-8">
<title>Home Automation project</title>
<meta name="viewport" content="width = device-width, initial-scale = 1">
<!-- Latest compiled and minified CSS -->
<meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" href="/css/bootstrap.min.css">
 	<script src="http://code.jquery.com/jquery-latest.min.js"></script>
 <script src="js/bootstrap.min.js"></script>
<style>
    body    { padding-top:50px; }

    .btn-width {
    width: 150px !important;
    height: 40px !important;

    }

    .padd {
      padding-top: 40px !important;
      padding-bottom: 30px;
    }

    .center-alignment{

      margin:0px auto !important;
      width: auto !important;
      height:30px auto  !important;
      padding-left:  !important;
    }
    input.cmn-toggle-round-flat + label {
  padding: 2px !important;
  width: 120px !important;
  height: 60px !important;
  background-color: #dddddd !important;
  border-radius: 60px;
  transition: background 0.4s;
}
input.cmn-toggle-round-flat + label:before,
input.cmn-toggle-round-flat + label:after {
  display: block;
  position: absolute;
  content: "";
}
input.cmn-toggle-round-flat + label:before {
  top: 2px !important;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background-color: #fff;
  border-radius: 60px;
  transition: background 0.4s;
}
input.cmn-toggle-round-flat + label:after {
  top: 4px;
  left: 4px;
  bottom: 4px;
  width: 52px;
  background-color: #dddddd;
  border-radius: 52px;
  transition: margin 0.4s, background 0.4s;
}
input.cmn-toggle-round-flat:checked + label {
  background-color: #8ce196;
}
input.cmn-toggle-round-flat:checked + label:after {
  margin-left: 60px;
  background-color: #8ce196;
}

button
{
    display:block;
    border: none;
    outline:none;
}

.switch {
  position: relative;
  width: 200px;
  height: 40px;
}

.btnText {
  position: absolute;
  top: 20px;
  left: 100px;
  font-style:italic;
  font-family: verdana;

}

.myswitch {
    position: absolute;
    top: auto;
    left: 20px;
    width: 100px;
    height: 40px;
    -webkit-transform: skew(-25deg);
       -moz-transform: skew(-25deg);
         -o-transform: skew(-25deg);
    background: #5980a6;
    margin: 0;
    padding: 0;
    z-index: 0;
    border: none;
    appearance: none;
    cursor: pointer;
    border-radius:7px;

}

.myswitch:before {
    content: ' ';
    position: absolute;
    left: 5px;
    top: 5px;
    width: 90px;
    height: 30px;
    -webkit-transform: skew(-25deg);
       -moz-transform: skew(-25deg);
         -o-transform: skew(-25deg);
    z-index: 1;
    box-shadow: 0 2px 5x black;
    border-radius:7px;
}
.myswitch:after{
    content: ' ';
    width: 50px;
    height: 38px;
    z-index: 2;
    background: #FFFFFF;
    top: 1px;
    left: 1px;
    box-shadow: 0 2px 5x black;
    position: absolute;
    transition-duration: 500ms;
    border-radius:7px;


}
.myswitchOn, .switchOn:before{
  background: #0680f9 !important;
}

.myswitchOn:after {
    left: 49px; // left = myswitch.widht/2 - 1

}

.checkbox {
  display: none;
  }

  .switchtext {
    font-family: verdana;
    margin: 0 0 10px 0;
}


</style>
