<meta charset="UTF-8">
<title>Home Automation project</title>
<meta name="viewport" content="width = device-width, initial-scale = 1">
<!-- Latest compiled and minified CSS -->
<meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" href="/css/bootstrap.min.css">
 	<script src="http://code.jquery.com/jquery-latest.min.js"></script>
 <script src="js/bootstrap.min.js"></script>
<style>
    body    { padding-top:50px; }

    .btn-width {
    width: 150px !important;
    height: 40px !important;

    }

    .padd {
      padding-top: 40px !important;
      padding-bottom: 30px;
    }

    .center-alignment{

      margin:0px auto !important;
      width: auto !important;
      height:30px auto  !important;
      padding-left:  !important;
    }
    input.cmn-toggle-round-flat + label {
  padding: 2px !important;
  width: 120px !important;
  height: 60px !important;
  background-color: #dddddd !important;
  border-radius: 60px;
  transition: background 0.4s;
}
input.cmn-toggle-round-flat + label:before,
input.cmn-toggle-round-flat + label:after {
  display: block;
  position: absolute;
  content: "";
}
input.cmn-toggle-round-flat + label:before {
  top: 2px !important;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background-color: #fff;
  border-radius: 60px;
  transition: background 0.4s;
}
input.cmn-toggle-round-flat + label:after {
  top: 4px;
  left: 4px;
  bottom: 4px;
  width: 52px;
  background-color: #dddddd;
  border-radius: 52px;
  transition: margin 0.4s, background 0.4s;
}
input.cmn-toggle-round-flat:checked + label {
  background-color: #8ce196;
}
input.cmn-toggle-round-flat:checked + label:after {
  margin-left: 60px;
  background-color: #8ce196;
}

</style>
