<!-- For bigger screen devices -->
<nav class="navbar navbar-inverse bg-inverse navbar-fixed-top hidden-xs " role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/" padding-top="-2px">
                Home automation
                <span class="glyphicon glyphicon-menu-right"></span>
            </a>
        </div>

        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/light">Lights</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/map">Map</a></li>
            <li><a href="/chat">Chat</a></li>



        </ul>

    </div>

</nav>

<!-- For small screen devices -->
<nav class="navbar navbar-inverse navbar-fixed-top visible-xs " role="navigation">
  <div class="container-fluid">

  <div class="dropdown">
    <button class="btn btn-success btn-lg dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      Meny
      <span class="caret"></span>
    </button>
    <a class="navbar-brand pull-right">
        <span class="glyphicon glyphicon-menu-left"></span>
        Home automation
    </a>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <li><a href="/">Home</a></li>
      <li><a href="/light">Lights</a></li>
      <li role="separator" class="divider"></li>
      <li><a href="/about">About</a></li>
      <li><a href="#">Map</a></li>
    </ul>
  </div>


</nav>
