 <!DOCTYPE html>
 <html lang="en">
 <head>
     <% include ../partials/head %>
     <style>
     #messages {
        height: 400px !important;
        overflow: auto !important;
        width: auto !important;
        list-style-type: none !important;
        margin: 0 !important;
        padding: 0 !important;
       }
       .lista li {
       padding: 5px 10px !important;}
       .lista li:nth-child(odd) { background: #ffffff !important;
                                  border: solid black;
                                  border-radius: 20px;
                                  border-width: 1px;
                                  border-top-left-radius: 2px !important;
                                  border-bottom-left-radius: 2px !important;

                                  }
      .lista li:nth-child(even) { background: #eeeeee !important;
                 border: solid black;
                 border-width: 1px;
                 border-radius: 20px;

                                                             }

     </style>

 </head>
 <body class="container">

     <header>
         <% include ../partials/header %>
     </header>

     <main>
         <div class="jumbotron">
             <center><h3>chat</h3></center>


             <ul id="messages" class="lista"></ul>

             <form action=" " style="form-group">
               <input id="m" size="100px" autocomplete="off" /><button>Send</button>
             </form>
          </div>


     </main>

     <footer>
         <% include ../partials/footer %>
     </footer>
 <% include ../partials/scripts %>
 <script src="js/chat.js"></script>
 </body>
 </html>
