 <!DOCTYPE html>
 <html lang="en">
 <head>
     <% include ../partials/head %>
     <style>
     #messages {
        height: 400px !important;
        overflow: auto !important;
        width: 100% !important;
        list-style-type: none !important;
        margin: 0 !important;
        padding: 0 !important;
       }
     #messages:li {
       padding: 5px 10px !important;}
     #messages:li:nth-child(odd) { background: #eee !important; }

     </style>

 </head>
 <body class="container">

     <header>
         <% include ../partials/header %>
     </header>

     <main>
         <div class="jumbotron">
             <center><h3>chat</h3></center>


             <ul id="messages"></ul>

             <form action=" ">
               <input id="m" style="form-control" autocomplete="off" /><button class="form-control pull-right">Send</button>
             </form>
          </div>


     </main>

     <footer>
         <% include ../partials/footer %>
     </footer>
 <% include ../partials/scripts %>
 <script src="js/chat.js"></script>
 </body>
 </html>
