
<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">
 <% include ../partials/scripts %>



    <main>
        <div class="jumbotron">
          <h4 class="text-info">Velkommen!</h4>
          <p class="text-default text-sz-sm">
            Dette er et prosjekt hvor jeg forsker på nettsideutvikling som baserer
            seg på kommunikasjon mellom Raspberry Pi og nettsiden. more to come!.
          </p>







        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>
</html>
