
<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
    <style>
        #map {
        width: 100% !important;
        height: 100% !important;

      }
    </style>

</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="jumbotron">
            <h3>Map</h3>
            <p>Google maps experiment</p>

            <div id="map">

            </div>


        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
<% include ../partials/scripts %>

</body>
</html>
